{% extends "home.html.twig" %}


{% block titulo %} AAAA   {% endblock %}
{% block topo %} {{ setor }}{% endblock %}

{% block conteudo %}    

{% if totalRamais == 0 %}
    <h2>Desculpe nenhum Ramal disponivel no momento!</h2>

{% else %}


<div class="" id="status">

</div>

<table id="lista_ramais" class="table table-striped">
    <thead>
        <tr>
            <th>RAMAL</th>
            <th>RESPONSÁVEL</th>
{% if usuario_logado == true   %}
            <th>ATIVO</th>
{% endif  %}

{% if usuario_logado == true   %}
            <th>Administrativo</th>
{% endif%}

        </tr>
    </thead>
    <tbody>
        {% for ramal in ramais %}
        <tr>
            <td>{{ ramal.numero }}</td>
            <td>{{ ramal.responsavel }}</td>
{% if usuario_logado == true   %}
            <td>
                {% if(ramal.deletado_em is null) %}
                    <span class="badge text-bg-success">Ativo</span>
                {% else %}
                    <span class="badge text-bg-danger">Desativado</span>
                {% endif %}

            </td>
{% endif %}

{% if usuario_logado == true   %}
            <td>
                <div class="d-flex gap-3">
                    <button hx-post="/setor" hx-target="#status" hx-swap="innerHTML" class="btn btn-danger"><i class="fas fa-eraser"></i></button>
                    <button hx-post="/setor" hx-target="#status" hx-swap="innerHTML" class="btn btn-primary"><i class="fas fa-edit"></i></button>


                </div>
            </td>
{% endif%}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>RAMAL</th>
            <th>RESPONSÁVEL</th>
{% if usuario_logado == true   %}
            <th>ATIVO</th>
{% endif  %}

{% if usuario_logado == true   %}
            <th>Administrativo</th>
        
{% endif%}
        </tr>
    </tfoot>
</table>

{% endif %}
{% endblock %}



{% block js_extra %}


<script>
    document.addEventListener('DOMContentLoaded', function(){
        var dt = new DataTable('#lista_ramais',{
                processing: false,
                serverSide: false,
                searchable: true,
                paging: true,
                pageLength: 100,
                language: {
                    url: '/assets/js/datatable-pt-br.json'
                },
        });
    });
</script>

{% endblock %}

