{% extends "home.html.twig" %}


{% block topo %}
    Login de Usuário!
{% endblock %}



{% block conteudo %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">



    <form method="post" enctype="application/x-www-form-urlencoded" action="" class="p-4 border rounded shadow" style="width: 100%; max-width: 400px;">
       
        <div class="mb-3">
            {% for alerta in erros %}
            <div class="alert alert-danger">
                {{ alerta }}
            </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail:</label>
            <input class="form-control" type="text" name="email" id="email">
        </div>

        <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input class="form-control" type="password" name="senha" id="senha">
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>
{% endblock %}